.meta {
  font-family: var(--font-serif);
  font-size: var(--text-md);
  color: var(--secondary);
  display: block;
  padding: var(--space-lg);
}

.article {
  display: grid;
  font-size: var(--text-prose);
  gap: var(--space-xl);
  letter-spacing: var(--text-prose-tracking);
  line-height: var(--loose);
  padding: 0 var(--size-gutter);
}

.article a {
  border-bottom: 1.5px solid currentColor;
  font-weight: var(--medium);
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--secondary);
}

.article p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  margin-top: var(--space-3xl);
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .article {
    gap: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  .article {
    gap: var(--space-3xl);
  }
}
